<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Employees List</title>
<head>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<h1>Employee Information</h1>
	</div>
	
		<ul class="list-inline">
			<li class="list-inline-item" th:text="${employee.id}"></li>
			<li class="list-inline-item" th:text="${employee.firstName}"></li>
			<li class="list-inline-item" th:text="${employee.lastName}"></li>
			<li class="list-inline-item" th:text="${employee.workDept}"></li>
			<li class="list-inline-item" th:text="${employee.phnNumber}"></li>
			<li class="list-inline-item" th:text="${employee.hired}"></li>
		</ul>
	</div>
</body>
</html>